/* Archivo: assets/css/style.css */
$primary-color: #4A90E2;
$secondary-color: #f5f5f5;
$background-color: #b4b4b4; // Color de fondo para la página
$text-color: #333;
$header-color: #444;

body {
    background-color: #b4b4b4; // Aplicar color de fondo a la página
    font-family: Arial, sans-serif; // Fuente general para el cuerpo
    margin: 0;
    padding: 0;
}

.cv-container {
    margin: 5px; // Espacio superior
    padding: 5px;
}

.profile-photo {
    width: 5px;
    height: 5px;
}

header {
    text-align: center;
    margin-bottom: 20px;

    h1 {
        font-size: 2.5em;
        color: $primary-color;
    }

    h2 {
        font-size: 1.5em;
        color: $header-color;
        margin-bottom: 10px;
    }
}

section {
    margin-bottom: 20px;

    h3 {
        border-bottom: 2px solid $primary-color;
        padding-bottom: 5px;
        color: $primary-color;
    }

    ul {
        list-style: none;
        padding-left: 0;

        li {
            margin: 10px 0;

            strong {
                display: block;
                color: $primary-color;
            }

            p {
                margin: 5px 0;
                color: $text-color;
            }
        }
    }
}

footer {
    text-align: center;
    margin-top: 30px;
    color: $text-color;
}


