---
layout: home
title: Curriculum Vitae
---

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum Vitae</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <style>
	body {
    	font-family: Arial, sans-serif;
    	margin: 0;
    	padding: 0;
    	background-color: #6a5acd
    	color: #333;
	}
    </style>
</head>
<body>
<div class="cv-container">
  <header>
    <h1>Leonardo Brambila Ayala</h1>
    <h2>Desarrollador Web</h2>
  </header>

  <section class="contact-info">
    <h3>Información de Contacto</h3>
    <p>Email: <a href="mailto:a221205286@unison.mx">leonardo@example.com</a></p>
    <p>Teléfono: 6624048064</p>
  </section>

  <section class="education">
    <h3>Educación</h3>
    <ul>
      <li>
        <strong>Licenciatura en Ciencias de la Computacion </strong> - Universidad de Sonora (2021-2024)
      </li>
      <li>
        <strong>Certificación en JavaScript</strong>
      </li>
    </ul>
  </section>

  <section class="experience">
    <h3>Experiencia Laboral</h3>
    <ul>
      <li>
        <strong>Desarrollador Web Junior</strong>
        <p>Responsable de desarrollar y mantener aplicaciones web utilizando JavaScript y Ruby on Rails.</p>
      </li>
      <li>
        <strong>Prácticas en Desarrollo de Software</strong> - Universidad de Sonora(2023)
        <p>Participación en el desarrollo de un sistema de gestión de almacenamiento.</p>
      </li>
    </ul>
  </section>

  <section class="skills">
    <h3>Habilidades</h3>
    <ul>
      <li>HTML, CSS, JavaScript</li>
      <li>Ruby on Rails</li>
      <li>Git y GitHub</li>
      <li>c, c++, c#</li>
    </ul>
  </section>

  <footer>
    <p>&copy; 2024 Leonardo Brambila Ayala</p>
  </footer>
</div>
</body>
</html>






